/* Content of the page displayed as grid */
.topics {
    width: 100%;
    margin: 30px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-top: 3px solid #76bd22;
}

h3 {
    color: #006636;
    margin-top: 5px;
}

/* First element of grid spanned through columns 1 - 4 */
.grid-box:first-child {
    grid-column: 1/4;
}

.parking{
    grid-column: 2/4;
}

.grid-box-wifi {
    grid-column: 1/4;
}

.campus-map {
    width: 100%;
}

/* Parallax image */
.parallax {
    margin-top: 20px;
    background-image: url("../images/building.jpg");
    min-height: 422px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

/* Media query for smaller screens, makes grid 1 column */
@media screen and (max-width: 815px) {
    .topics {
        grid-template-columns: 1fr;
    }

    .grid-box:first-child {
        grid-column: 1;
    }

    .grid-box-wifi {
        grid-column: 1;
    }

    .parallax{
        background-position: right;
        transition: 0.3s;
    }
}