/* sets this div to display none, to create animation with JQuery*/
.animation-wrapper{
    display:none;
}

/* displays heading on the image */
.img-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.main-img {
    width: 100%;
}

.main-heading {
    font-size: 32px;
    margin-bottom: 10px;
    color: white;
    position: absolute;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #00663698;
    display: none;
}

.middle-header {
    text-align: center;
    color: #006636;
}

/* displays menu boxes in the grid */
.menu-grid {
    width: 60%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
}

/* inside the menu boxes as flex */
.menu-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 450px;
    background-color: #006636;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.box-heading {
    margin-bottom: 0;
}

.main-text {
    padding: 0 10px 0 10px;
}

.button-text {
    margin-bottom: 22.41px;
    padding: 10px;
}

.button {
    background-color: #76bd22;
    padding: 10px 40px 10px 40px;
    color: black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.438);
}

.button:hover {
    box-shadow: 6px 6px 12px black;
    transition: 0.2s;
    background-color: #90df30;
}

@media screen and (max-width: 815px) {
    .menu-grid {
        width: 100%;
    }
}