/* Content of the page displayed as grid */
.topics{
    display: grid;
    margin: 30px auto 0px auto;
    grid-template-columns: 1fr;
    gap: 20px;
    border-top: 3px solid #76bd22;
}

h3{
    margin-top: 5px;
    color: #006636;
}